@charset "UTF-8";
/* Montserrat 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ol, ul, li {
  list-style: none;
}

a {
  text-transform: none;
}

.bth-b {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 12px;
  background: #212224;
  color: #fff;
}

.bth-b i {
  color: #fff;
  padding-left: 5px;
  font-size: 10px;
}

.bth-w {
  padding: 7px 10px;
  background: #fff;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
}

.bth-w i {
  padding-left: 5px;
  font-size: 10px;
}

.header .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.header-wrap {
  z-index: 2;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1280px;
  height: 160px;
  padding: 60px 0 60px;
}

.header-wrap::after {
  content: '';
  display: block;
  clear: both;
}

.header .logo {
  float: left;
  width: 190px;
  padding: 0;
  margin: 0;
}

.header .gnb {
  float: left;
  width: 900px;
}

.header .gnb ul {
  line-height: 40px;
  text-align: center;
}

.header .gnb ul li {
  display: inline-block;
  margin: 0 30px;
  line-height: 40px;
}

.header .user-support {
  float: right;
  width: 190px;
}

.header .user-support-icon {
  text-align: right;
}

.header .user-support-icon li {
  display: inline-block;
  margin-left: 17px;
  line-height: 40px;
  width: 40px;
  text-align: center;
}

.header .user-support-icon li a img {
  height: 20px;
  width: auto;
}

.main {
  margin: 0 auto;
  text-align: center;
}

.main .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  height: 320px;
}

.main .bx-wrapper .bx-clone {
  margin: none !important;
}

.main .bx-wrapper .bx-controls {
  display: none;
}

.main-bg {
  padding-top: 140px;
  width: 100%;
  height: 600px;
  background: url(../img/main_bg.png) no-repeat left top;
  background-size: cover;
}

.main-bg p.color {
  color: #5eaeba;
}

.main-bg p {
  font-size: 60px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 200;
  letter-spacing: -2px;
}

.main-bg p.small {
  font-size: 20px;
  color: #9ba1ad;
  margin: 40px 0 60px;
}

.main-bg a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 12px;
  background: #212224;
  color: #fff;
  text-decoration: none;
}

.main-notice {
  width: 100%;
  overflow: hidden;
  background: url(../img/main_notice_bg.gif) repeat-y;
  background-position: 0 100%;
  background-size: 50% 100%;
  height: 400px;
}

.main-notice .pic-li-lt {
  float: left;
  width: 50%;
}

.main-notice .pic-li-lt ul {
  padding: 100px;
  margin-top: 10px;
}

.main-notice .pic-li-lt .news-title {
  position: relative;
  font-size: 40px;
  padding-top: 30px;
  text-decoration: none;
  color: #212224;
  text-align: left;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.main-notice .pic-li-lt .news-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background: #5eaeba;
  position: absolute;
  top: 0;
  left: 2px;
}

.main-notice .pic-li-lt .news-con {
  color: #9ba1ad;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 85%;
  overflow: hidden;
  margin: 30px 0 0 40px;
}

.main-notice .right {
  float: left;
}

.main-notice .right .lat {
  padding: 100px;
}

.main-notice .right .lat .lt-info span {
  font-size: 16px;
  position: relative;
  top: -32px;
  left: -100px;
  color: #9ba1ad;
}

.main-notice .right .lat .basic-li {
  height: 50px;
  padding: 10px;
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.main-notice .right .lat .basic-li a {
  color: #212224;
  text-decoration: none;
}

.main-notice .right .lat .basic-li a:hover {
  color: #aacfda;
  padding-bottom: 5px;
  border-bottom: 1px solid #aacfda;
}
/*# sourceMappingURL=index.css.map */