.header {
    position: relative;
    .bx-wrapper {
        box-shadow: none;
        border: none;
        

    }

    &-wrap {
        z-index: 2;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 1280px;
        height: 160px;
        padding: 60px 0 60px;
        @include clearfix();
    }

    .logo {
        float: left;
        width: 190px;
        padding: 0;
        margin: 0;
    }

    .gnb {
        float: left;
        width: 900px;

        ul {
            line-height: 40px;
            text-align: center;

            li {
                display: inline-block;
                margin: 0 30px;
                line-height: 40px;
                a{
                    position: relative;
                    text-decoration: none;
                    color:$color-dark ;
                }
                a:hover::after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 6px;
                    background: rgba(94,174,186,0.5);
                    position: absolute;
                    bottom: 0;
                    left: -2px;
                    transition: 0.5s;
                    z-index: -1;
                    animation: line 1s ease-in-out forwards;
                }
            }
            
            
           

        }

    }

    .user-support {
        float: right;
        width: 190px;



        &-icon {
            text-align: right;

            li {
                display: inline-block;
                margin-left: 17px;
                line-height: 40px;
                width: 40px;
                text-align: center;

                a img {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }

    .text-left {
        display: block;
        z-index: 1000000;
        position: absolute;
        top: 520px;
        left: 150px;
        font-size: 26px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        @include mq('small-screen-1') {
            top: 385px !important;
            left: 120px !important;
        }
    
    }

    .text-right {
        display: block;
        z-index: 1000000;
        position: absolute;
        top: 520px;
        right: 150px;
        font-size: 26px;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        @include mq('small-screen-1') {
            top: 385px !important;
            right: 120px !important;
        }
    }


}